@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.form-container {
  width: 360px;
  background-color: #ffffffad;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container button:active {
  scale: 0.95;
}

.form-container .logo-container {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 20px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  height: 60px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #1778f2;
}

.form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
  background-color: #313131;
}

.form-container .link {
  color: #1778f2;
  text-decoration: none;
}

.form-container .signup-link {
  align-self: center;
  font-weight: 500;
  text-align: center;
}

.form-container .signup-link .link {
  font-weight: 400;
}

.form-container .link:hover {
  text-decoration: underline;
}
.centerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* .bgimg{
    height:100px;
    display: flex;justify-content: center;align-items: center;
    width: 100%;
    background-color: #000000;
    border-radius: 30px;
  } */

.titleh {
  font-size: 50px;
  color: #c67143;
  margin-top: 10px;
  letter-spacing: 10px;
  text-align: center;
}
.so {
  font-weight: 200;
}
@keyframes animate8345 {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

.loader {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #2d60ec, #3ccfda);
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate8345 9s linear infinite;
  font-weight: bold;
}
.center {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-color: #1b1818;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  gap: 40px;
  z-index: -100;
  background: url("bgg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* GENERAL */

.cardmain {
  background-color: #fff;

  border-radius: 15px;
  display: inline-block;
  width: 330px;
  height: 200px;
  margin: 10px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 150px;
}
.cardmain:nth-child(1) {
  background: url("image1.png");
  background-size: cover;
  background-position: center center;
}
.cardmain:nth-child(2) {
  background: url("bgg.png");
  background-size: cover;
  background-position: center center;
}
.cardmain:nth-child(3) {
  background: url("image.png");
  background-size: cover;
  background-position: center center;
}
.jamt {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 77px;
  color: #ffffffc6;
}
.jamt2 {
  color: wheat;
  font-size: 12px;
  font-weight: 300;
}
.scrollarea {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.contentscroll {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-50%);
  }
}
.counndercards {
  height: 400px;
  width: 400px;
  background-color: #ffffff3f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.roundcard {
  background-color: #8b8a8a;
  height: 80px;
  width: 90%;
  border-radius: 15px;
  color: white;
  font-size: 22px;
  display: flex;justify-content: center;align-items: center;
}
